* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'Permanent Marker', cursive;
    list-style: none;
    text-decoration: none;
}
a, p, h4, h2, h3, h1 {
    color: white;
}
body {
    background: #130849;
}

/* nav bar*/
header {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    padding: 7px 80px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    transition: 0.5s;
    z-index: 100;
}

header .dropDown li{
    display: block;
}

header .dropDown{
    position: absolute;
    width: 10%;
    background-color: lightskyblue;
    z-index: 999;
    display: none;
    border-radius: 5%;

}

header li:hover ul.dropDown{
    display: block  ;
}
.scroll-change {
    background: #2d3a87;
    box-shadow: 0 5px 10px #2d3a87;
}
/* scroll bar */
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-thumb {
    background: lightskyblue;
    border-radius: 5px;
}
header .logo {
    position: relative;
    font-size: 2rem;
    font-weight: 700;
}
header .nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}
header .nav-bar li {
    margin: 10px;
}
header .nav-bar li a {
    padding: 10px 20px;
    border-radius: 5px;
}
header .nav-bar li a:hover {
    background: lightskyblue;
    color: #23242a;
    box-shadow: 0 0 10px lightskyblue;
}
header .action .searchBx {
    padding: 5px;
    margin: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: white;
    border-radius: 5px;
}
header .action .searchBx i {
    font-size: 1.4rem;
    margin: 5px;
    color: #23242a;
}
header .action .searchBx input {
    outline: none;
    border: none;
    font-size: 1rem;
    color: #23242a;
}

/* Home Banner */

.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}
.banner .bg {
    position: relative;
    width: 100%;
    min-height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner .bg .content {
    width: 50%;
    height: 100%;
    padding-left: 100px;
}
.banner .bg .content h2 {
    font-size: 4em;
    letter-spacing: 1px;
}
.banner .bg .content p {
    font-size: 1em;
    letter-spacing: 1px;
}
.banner .bg .content a {
    display: inline-block;
    padding: 10px 20px;
    margin: 20px 0 ;

    border: 1px solid lightskyblue;
    border-radius: 5px;

    font-weight: 700;
    letter-spacing: 1px;
}
.banner .bg .content a:hover {
    background: lightskyblue;
    border: none;
    color: #23242a;
    box-shadow: 0 0 10px lightskyblue;
}
.banner .bg img {
    width: 700px;
}

/* About us */

.about {
    position: relative;
    width: 100%;
    min-height: 75vh;
    
    padding: 0 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about .contentBx {
    width: 50%;
    margin: 20px;
}
.about .contentBx h2 {
    font-size: 3em;
    font-weight: 700;
}
.about .contentBx p {
    max-width: 600px;
    text-align: justify;
}
.about .contentBx a {
    display: inline-block;
    padding: 10px 20px;
    margin: 20px 0;

    border: 1px solid lightskyblue;
    border-radius: 5px;
    letter-spacing: 1px;
}
.about .contentBx a:hover {
    background: lightskyblue;
    border: none;
    color: #23242a;
    box-shadow: 0 0 10px lightskyblue;
}

/* Games */

.games {
    padding: 0 100px;
    width: 100%;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin: 40px auto;
}
.games h2 {
    margin: 10px 0;
    
}
.games .ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    margin-bottom: 20px;
}
.games .ul .li {
    padding: 10px 20px;
    border-radius: 5px;
    margin: 5px;

    letter-spacing: 1px;
    cursor: pointer;
    color:#23242a;
}

.games .ul button:hover{
    background: lightskyblue;
}

.games .ul .button .active {
    background: lightskyblue;
    color: #23242a;
    box-shadow: 0 0 10px lightskyblue;
}
.games .cardBx {
    width: 100%;
    min-height: 100%;

    float: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;

  }

.games .cardBx .card {
    width: 280px;
    border-radius: 10px;
    margin: 20px 40px;

    background: #2d3a87;
    overflow: hidden;
}
.games .cardBx .card img {
    width: 280px;
    height: 260px;
    object-fit: cover;
}
.games .cardBx .card .content {
   padding: 10px; 
}
.games .cardBx .card .content h3 {
    margin: 10px 0;
    color: #fbc531;
}
.games .cardBx .card .content h4 {
    margin: 10px 0;
}
.games .cardBx .card .content .rating-bar {
    position: relative;
    height: 10px;
    width: 100%;

    background: #5367d5;
    margin-bottom: 15px;
    border-radius: 10px;

    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}
.games .cardBx .card .content .rating-bar span{
    position: absolute;
    height: 100%;

    border-radius: 10px;
    background-color: lightskyblue;
    box-shadow: 0 0 10px lightskyblue;

    transform-origin: left;
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}
@keyframes animate {
    100%{
        transform: scaleX(1);
    }
}
#card1 .content .rating-bar span {
    width: 50%;
}
#card2 .content .rating-bar span {
    width: 70%;
}
#card3 .content .rating-bar span {
    width: 95%;
}
#card4 .content .rating-bar span {
    width: 60%;
}
#card5 .content .rating-bar span {
    width: 80%;
}
#card6 .content .rating-bar span {
    width: 95%;
}
.games .cardBx .card .content .info {
    border-top: 2px solid #5367d5;
    padding: 5px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.games .cardBx .card .content .info p {
    font-size: 1rem;
}
.games .cardBx .card .content .info p span {
    color: lightskyblue;
}
.games .cardBx .card .content .info a {
    display: inline-block;
    padding: 10px 20px;
    margin: 20px 0;

    border: 1px solid lightskyblue;
    border-radius: 5px;
    letter-spacing: 1px;
}
.games .cardBx .card .content .info a:hover {
    background: lightskyblue;
    border: none;
    color: #23242a;
    box-shadow: 0 0 10px lightskyblue;
}
.games .cardBx .card.hide {
    display: none;
}

/* Tournaments */

.tournaments {
    padding: 0 100px;
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tournaments h2 {
    margin: 10px 0;
}
.tournaments .boxBx {
    width: 100%;
    min-height: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.tournaments .boxBx .box {
    width: 350px;
    border-radius: 10px;
    margin: 20px 40px;
    background: #2d3a87;
    overflow: hidden;
}
.tournaments .boxBx .box img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.tournaments .boxBx .box .content {
    padding: 10px;
}
.tournaments .boxBx .box .content h4 {
    margin-top: 15px;
}
.tournaments .boxBx .box .content h4 span {
    color: lightskyblue;
}
.tournaments .boxBx .box .content p {
    text-align: justify;
    margin-top: 10px;
}
.tournaments .boxBx .box .content .btn {
    display: flex;
    justify-content: space-between;
}
.tournaments .boxBx .box .content .btn a {
    display: inline-block;
    padding: 10px 20px;
    margin: 20px 0 ;

    border: 1px solid lightskyblue;
    border-radius: 5px;

    font-weight: 700;
    letter-spacing: 1px;
}
.tournaments .boxBx .box .content .btn a:hover {
    background: lightskyblue;
    border: none;
    color: #23242a;
    box-shadow: 0 0 10px lightskyblue;
}
/* Contact */

.contact {
    padding: 20px 100px;
    width: 100%;
    min-height: 50vh;

    display: flex;
    justify-content: center;
    align-items: center;
}
.contact img {
    height: 100%;
    width: 50%;
    object-fit: cover;
    border-radius: 10px;
}
.contact .form {
    width: 50%;
    margin: 30px;
}
.contact .form .inputBx {
    margin: 10px 0;
}
.contact .form .inputBx input,
.contact .form .inputBx textarea {
    outline: none;
    border: none;
    padding: 10px;
    width: 100%;
    
    color: white;
    background: #2d3a87;
    min-height: 15px;
    font-size: 1.2em;
}
.contact .form .inputBx textarea {
    height: 150px;
}
.contact .form .inputBx input[type="submit"] {
    display: inline-block;
    padding: 10px 20px;
    margin: 15px 0;
    outline: none;

    background: transparent;
    border: 1px solid lightskyblue;
    border-radius: 5px;
    cursor: pointer;

    font-weight: 700;
    width: 150px;
    color: white;
    letter-spacing: 1px;
}
.contact .form .inputBx input[type="submit"]:hover {
    background: lightskyblue;
    border: none;
    color: #5367d5;
    box-shadow: 0 0 10px lightskyblue;
}